body{
    background: #281c3f;
}


.backgroundGame{
    height: 600px;
    width: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(0, 0, 0);

    background: linear-gradient(#ffbe74, transparent) #ff8800;
    transition: background-color ;  
}

#dino{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 500px;
    background: url(./assets/dino.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.jump{
    animation: jump 0.5s ease;
}

@keyframes jump {
    0% {
        top: 500px;
    }
    50% {
        top: 300px;
        transform: rotate(5deg);
    }
       
    100% {
        top: 500px;
        transform: rotate(0deg);
    }
}

#trap{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 500px;
    left: 1300px;
    background: url(./assets/cactus1.png);
}

.fail{
    animation: fail 1.5s linear infinite;
}

@keyframes fail {
    0%{
        left: 1300px;
    }
    100%{
        left: 0px;
    }
}