body{
    margin: 0px;
    background-color: black;
    user-select: none;
}

#backgroundGame{
    background: linear-gradient(#129fe5, transparent) #f1efed;
    width: 1400px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#title{
    margin-top: 20px;
    text-align: center;
    position: absolute;
    font-size: 70px;
    width: 100%;
    color: #ffed2b;
    font-family: 'Bungee', cursive;
}

#button{
    position: absolute;
    background-color: white;
    padding: 50px;
    text-align: center;
    font-family: 'Coda', cursive;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
#button:hover{
    background-color: black;
    color: white;
}

#gameOver{
    display: none;
    position: absolute;
    background-color: red;
    color: white;
    padding: 50px;
    text-align: center;
    font-family: 'Coda', cursive;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
#gameOver:hover{
    background-color: yellow;
    color: black;
}

#divCounter{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
}

#messi{
    width: 62px;
    height: 60px;
    position: absolute;
    bottom: 25px;
    left: 40px;
    background: url(./assets/messi-2.png); 
    transition: all 0.1s ease;   
}

#ground {
    width: 2800px;
    height: 60px;
    position: absolute;
    --green: #22c762;
    --light: #2eda70;
    background-image: 
        repeating-linear-gradient(to right, var(--green) 0 2.5%, var(--light) 0 5%);
    bottom: 0;
}

.poland{
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(./assets/poland.png);
    background-repeat: no-repeat;  
    transition: all 0.1s ease;   
}
.australia{
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(./assets/australia.png);
    background-repeat: no-repeat; 
    transition: all 0.1s ease;   
}    
.saudi-arabia{
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(./assets/saudi-arabia.png);
    background-repeat: no-repeat; 
    transition: all 0.1s ease;   
}     
.croatia{
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(./assets/croatia.png);
    background-repeat: no-repeat;  
    transition: all 0.1s ease;   
}    
.france{
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(./assets/france.png);
    background-repeat: no-repeat;
    transition: all 0.1s ease;     
}    
.mexico{
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(./assets/mexico.png);
    background-repeat: no-repeat;   
    transition: all 0.1s ease;   
}    
.netherlands{
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(./assets/netherlands.png);
    background-repeat: no-repeat;  
    transition: all 0.1s ease;   
}    

